
/* ================================================ Globals ================================================= */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --blue: #2a2185;
    --white: #fff;
    --gray: #f4f4f4;
    --gray2: #eeecec;
    --black1: #222;
    --black2: #999;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
/* ======================== End of Global ======================= */
